.footer{
    margin-top: 3rem;
    padding-right: 1rem;
    p{
        font-weight: 600;
        line-height: 140%;
        font-family: var(--Body);
    }
    a{
        text-decoration: none;
    }
}