:root{
    --Heading: 'Barlow Condensed', sans-serif;
    --Body: 'Barlow', sans-serif;
    --Very-Dark-Blue: hsl(230, 29%, 20%);
    --Dark-Grayish-Blue: hsl(230, 11%, 40%);
    --Gray: gray;
    --Light-Grayish-Blue: hsl(207, 33%, 95%);
    --Red: hsl(0, 100%, 68%);

}