.overview-card{
    flex: 1;
    min-width: 220px;
    margin-right: 1rem;
    padding: 2rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.6rem;
    .overview-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            font-size: 1rem;
        }
    } 
    .overview-bottom{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 2.2rem;
        }
        .increase{
            display: flex;
            align-items: center;
            svg{
                margin-right: 5px;
            }
            P{
                color: var(--Lime-Green);
                font-size: 0.85rem;
                font-weight: 700;
            }
        }
    } 
}